.navigation {
    border-bottom: 1px solid black;
    display: flex;
    width: 99%;
    height: 10%;
    position: fixed;
    z-index: 9999;
    background-color: white;
    top: 0;
}
.navTitle {
    flex: 4;
    font-family: 'Kalam', cursive;
    padding-left: 5vw;
    font-size: 2em;
}
.navAbout, .navProjects, .navContact {
    flex: 1;
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding-top: 1%;
}
.navcomp {
    text-decoration: none;
    color: black;
}
.navcomp:hover {
    color: blue;
    text-shadow: 1px 1px grey;
}

@media (max-width: 414px) {
    .navTitle {
        font-size: 25px;
        bottom: 0;
    }
    .navAbout, .navContact, .navProjects {
        font-size: 15px;
        padding-top: 5%;
    }
}