.projectComponent {
    width: 100%;
    height: 100vh;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.projectTitle {
    text-align: center;
    font-size: 50px;
}
.projectContainer {
    width: 90%;
    height: 80%;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}
.project2, .project4, .project1 {
    flex: 1;
    border: 0.1px solid black;
    margin: 1%;
    display: flex;
    flex-direction: column;
}
.project2image {
    background-image: url('../images/project2.png');
    flex: 3;
    background-size: cover;
    background-repeat: no-repeat;
}
.project4image {
    background-image: url('../images/camera.jpg');
    flex: 3;
    background-size: cover;
    background-repeat: no-repeat;
}
.project1image {
    background-image: url('../images/rasengan.jpg');
    flex: 3;
    background-size: cover;
    background-repeat: no-repeat;
}
.project2content, .project4content, .project1content {
    flex: 4;
    padding: 2%;
}
.project2title, .project4title, .project1title {
    font-size: 30px;
}
.project2text, .project4text, .project1text {
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.projectLinks {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 414px) {
    .projectComponent {
        margin-top: -15%;
        height: 200vh;
    }
    .projectContainer {
        flex-direction: column;
        width: 100%;
        height: 187vh;
    }
    .project2, .project4, .project1 {
        flex: 1;
    }
    .project2content, .project4content, .project1content {
        flex: 3;
    }
    .project2title, .project4title, .project1title {
        font-size: 20px;
    }
    .project2text, .project4text, .project1text {
        font-size: 15px;
        font-family: 'Open Sans Condensed', sans-serif;
    }
}